@import url("./carousel.css");
@import url("./ui.css");

.wwi-header {
    background-image: url("../images/logo/wide-world-importers-logo-without-small.png"),
                     url("../images/logo/wide-world-importers-logo-without-flipped-small.png")
                    ;
    background-repeat: no-repeat, no-repeat;
    background-position: 25% center, 75% center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

h1 > .logo-text {
    color: #00bcf3;
}

h1 > .logo-imp {
    color: rgb(73, 69, 69);
}

#productImageCarousel ol li {
    /* background-color: black; */
    height: 100px;
    width: 100px;
}

#productImageCarousel ol li img {
    /* background-color: black; */
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        display: none;
    }
  }